.product-wrapper{
    padding:  50px;
    display: flex;
}
.img-container{
    flex: 1;
}
.info-container{
    flex: 1 1;
    padding: 50px 50px;
    margin-top: 97px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    align-items: flex-start;
}
.productdetail-title{
    font-weight: 400;
    font-size: 38px;
}
.info-container .desc{
    font-weight: 400;
    margin: 20px 0px;
    font-size: 18px;
}
.info-container .price{
    font-size: 30px;
    font-weight: 500;
}
.info-container .filter-container{
   margin-left: -20px;
   width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
.add-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 56%;
    margin-top: 3%;
}
.cart{
    padding: 10px;
    background: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid teal;
}
.amount-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 7px 8px;
    border-radius: 6px;
    border: 2px solid teal;
}
.amount-container span ,.remove{
    margin-left: 12px;
}
.add,.remove{
    cursor: pointer;
}
.img-container img{
    width: 77%;
    height: 68vh;
    object-fit: cover;
}