.filter-container{
    display: flex;
    justify-content: space-between;
}
.productlist-container h1{
    margin: 20px;
}
.filter-1,.filter-2{
    margin: 20px;
}
.filter-1,.filter-2, select{
    font-size: 17px;
    font-weight: 400;
    padding: 10px;
    margin-right: 100px;
    margin-top: 20px;
}
.filtertext{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}